.resized-image {
            width: 350px; /* Adjust the width as needed */
            height: auto; /* The height will adjust proportionally */
            margin: 30px;
            margin-left: 80px;
        }
        .button {

    padding: 10px 20px;
    /*background-color: #337ab7;*/
    background-color:#263697;
    color: white;
    border: none;
    cursor: pointer;
    width:130px;
    align:center;
}
body {
            background-color: #d7d8ff;
            margin: 0;
            padding: 20px;
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
            color: #333;
            font-size: 32px;
            margin-bottom: 30px;
        }

        .image-container {
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
        }

        .resized-image {
            width: 300px;
            height: auto;
            margin: 10px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .table-row {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
        }

        td {
            padding: 10px;
            font-size: 18px;
            background-color: #f7f7f7;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .button-container {
            text-align: center;
            margin-top: 20px;
        }

        .back-button {
            font-size: 20px;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            background-color: #f44336;
            color: white;
            cursor: pointer;
        }